.App {
  text-align: center;
  margin-top: 60px;
  background: rgb(180,102,13);
  background: linear-gradient(90deg, rgb(168, 93, 7, 1) 0%, rgba(255,150,30,1) 50%, rgba(168, 93, 7,1) 100%);
  min-height: 100vh;
}

ul {
  padding: 0;
}

.habitat-list {
  background: rgb(161, 161, 161);
  background: linear-gradient(90deg, rgb(190, 190, 190) 0%, rgb(221, 221, 221) 50%, rgba(190, 190, 190) 100%);
}

.App .links {
  padding: 20px 0;
  top: 0;
  position: fixed;
  width: 100%;
  background-color: #FFF;
  border-bottom: 2px solid #000;
}

.App .links a {
  padding-right: 8px;
}

.App .content {
  padding: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

ul {
  list-style-type: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
